@import './fonts/fonts.scss';
@import './constants/null.scss';
@import './constants/base.scss';
@import './libs/swiper.scss';
@import './components/colors.scss';
@import './components/slider.scss';
@import './components/gallery.scss';

main {
    padding-top: 15px;
}

/* header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}

.header--fixed {
    position: fixed;
}

.header__background {
    background-color: $rgba-vio;
    height: 88px;
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}

.header__nav.active {
    position: absolute;
    top: 63px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    & .header__numbers {
        flex-direction: column;
        align-items: center;
        background-color: $k-beige;
        padding: 25px 0 10px;
        & a {
            padding: 6px 0;
        }
    }
    & .header__menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        height: auto;
        padding: 10px 0;
        box-shadow: none;
        & a {
            padding: 6px 0;
        }        
    }    
}

.header__logo {
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: LuxuriousScript;
    font-weight: 400;
    font-size: 39px;
    color: #3e3e3e;
    text-decoration: none;
    background-color: $k-beige;
    box-shadow: 0 0 5px rgba(49, 49, 49, 0.44);
    &::before, &::after {
        content: '';
        position: absolute;
        width: 170px;
        height: 25px;
        border: 1px solid #3e3e3e;
        transition: height .2s ease;
    }
    &::before {
        top: 15px;
        left: 15px;
        border-bottom: none;
        border-right: none; 
        
    }
    &::after {
        bottom: 15px;
        left: 15px;
        border-top: none; 
        border-left: none;      
    }
    &:hover{
        &::before, &::after {
            height: 69px;
        }
    }
 
}

.header__numbers {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    margin-top: 3px;

    a {
        text-decoration: none;
        color: $k-text-light;
        font-family: Montserrat, sans-serif;
        font-weight: 100;
        font-size: 18px;
        position: relative;
        display: inline-flex;
        text-decoration: none;
        padding-left: 15px;
        transition: text-decoration .4s ease;

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 1px; /* Толщина подчеркивания */
            background-color: black; /* Цвет подчеркивания */
            bottom: 1px;
            left: 42px;
            transition: width 0.3s ease; /* Плавное увеличение ширины */
        }

        &::before {
            width: 24px;
            height: 24px; 
            padding-right: 4px !important;        
        }

        &:hover::after {
            width: 74%;
        }

        &:nth-child(1)::before {
            content: url('.././images/phone.svg');
        }

        &:nth-child(2)::before {
            content: url('.././images/telegram.svg'); 
        }

        &:nth-child(3)::before {
            content: url('.././images/viber.svg'); 
        }
    }
}

.header__menu {
    display: flex;
    justify-content: flefx-end;
    align-items: stretch;
    height: 58px;
    background-color: $k-beige;
    margin-top: 10px;
    padding: 0 10px;
    box-shadow: 0 0 5px rgba(49, 49, 49, 0.44);
    a {
        color: $text-color;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        font-size: 18px;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        padding-left: 10px; 
        padding-right: 10px;
        transition: text-decoration 0.3s ease;
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 1px; /* Толщина подчеркивания */
            background-color: black; /* Цвет подчеркивания */
            bottom: 15px;
            left: 10px;
            transition: width 0.3s ease; /* Плавное увеличение ширины */
        }
        &:hover::after {
            width: 85%; 
        }
    }
}

.burger {
    display: none;
    position: relative;
    width: 56px;
    height: 32px;
    margin-top: 13px;
    margin-right: 10px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: margin .1s linear;  
      
}

.burger__line {
	display: block;
	width: 100%;
	height: 4px;
	background-color: $k-beige;
	border-radius: 4px;
	transition: transform .2s linear;
    box-shadow: 0 0 5px rgba(49,49,49,.15);
    &:nth-child(1) {
        position: absolute;
        top: 0;
    }
    &:nth-child(3) {
        position: absolute;
        bottom: 0;
    }    
}
.burger.active {
    margin-right: 20px;    
}

.burger.active .burger__line:nth-child(2) {
    transform: scale(0);
}
.burger.active .burger__line:nth-child(1) {
    transform: rotate(45deg) translate(19px);
}
.burger.active .burger__line:nth-child(3) {
    transform: rotate(-45deg) translate(19px);
}

.slide__button {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    width: 240px;
    margin: 0 auto;
    margin-top: 90px;
    background-color: #cef4bb;
    color: #030303;
    box-shadow: 0 0 5px rgba(49,49,49,.44);
    transition: background-color .3s ease;
    &:hover {
       background-color: $k-vio;
    }
}

/* slider */

.slider {
    width: 100%;
}


.slider__item {
    font-family: Mulish ,sans-serif;
    width: 22%;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding: 14px 0;
    border-top: 2px solid $k-vio;
    opacity: 0.75;
    position: relative;
}

.slider__item.slider__active {
    opacity: 1;
    &::before {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background-color: $k-text-light;
        position: absolute;
        top: -3px;
        left: 0;
        z-index: 1;
    }
}

/* section */ 

.section {
    padding: 30px 0;
    padding-top: 0px;
}
.section.catpage {
    padding-top: 130px;
}

.section--beige {
    background-color: $k-beige;
    box-shadow: 0 0 5px rgba(49,49,49,.15);
    padding-top: 40px;
}

.section__title {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
}

.section__title::before,
.section__title::after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    background-color: #555;
    margin: 5px auto;
}

/* breadcrumbs */ 
.breadcrumb {
    padding-bottom: 15px;
    font-family: Montserrat,sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
}
.breadcrumb a {
    text-decoration: none;
    color: #030303;
}
.breadcrumb svg {
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 5px;
    fill: #030303;
}

/* category */ 
.category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 1.9%;
    padding-bottom: 15px;
}

.category__card {
    width: 32%;
    background-color: $k-vio;
    box-shadow: 0 0 5px rgba(49,49,49,.44);
}

.category__card:hover .category__image {
    transform: translate3d(-10px, -10px, 0);
}

.category__link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    &:hover .category__title {
        width: 94%;
    }
}

.category__title {
    position: absolute;
    width: 70%;
    font-family: Montserrat, sans-serif;
    padding: 10px 0;
    font-weight: 300;
    font-size: 18px;    
    text-align: center;
    top: 9px;
    left: 50%;
    z-index: 2;
    transform: translate3d(-50%, 0, 0);
    text-transform: uppercase;
    background-color: $k-beige;
    color: $k-text-light;
    box-shadow: 0 0 5px rgba(49,49,49,.44);
    transition: width .2s ease;
}

.category__image {
    transition: transform .1s linear;
    img {
        display: block;
        width: 100%;
        height: 100%;
        transition: opacity .1s linear;
    }
}

/* Отзывы */

.reviews {
    width: 100%;
}

.reviews__inner {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.reviews__item {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $k-beige;
    box-shadow: 0 0 5px rgba(49, 49, 49, 0.15);
}


.reviews__image {
    background-color: $k-vio;
}

.reviews__img {
    height: 240px;
}

.reviews__image:hover .reviews__link {
    transform: translate3d(-10px, -10px, 0);
}

.reviews__image:hover .reviews__title {
    width: 94%;
}

.reviews__link {
    display: block;
    position: relative;
    transition: transform .1s linear,-webkit-transform .1s linear;
}

.reviews__title {
    position: absolute;
    width: 70%;
    font-family: Montserrat,sans-serif;
    padding: 10px 0;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    top: 10px;
    left: 50%;
    z-index: 5;
    transform: translate3d(-50%, 0, 0);
    text-transform: uppercase;
    background-color: #fff8f3;
    color: #424242;
    box-shadow: 0 0 5px rgba(49,49,49,.44);
    transition: width .2s ease;
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 240px;
    padding: 10px 15px;
    border-radius: 15px;
}


.reviews__text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;    
    line-height: 1.5;
    overflow: hidden;
    column-width: 100%;    
}

.reviews__bottom {
    display: flex;
    justify-content: space-between;
}

.reviews__autor {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;

}

.reviews__autor::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: $primary-color;
}

.reviews__arrow {
    display: block;
    width: 12px;
    height: 22px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    background: center no-repeat url(../images/arrow_left.webp);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.reviews__arrow--back{
    left: 15px;
}

.reviews__arrow--forward{
    right: 15px;
    transform: translateY(-50%) rotate(180deg);
}

.reviews__stars {
    display: inline-block;
    font-size: 0;
}

.reviews__star {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ccc' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'%3E%3C/polygon%3E%3C/svg%3E") no-repeat center center;
    background-size: contain;
}

.reviews__stars:hover .reviews__star {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23FFD700' stroke='%23FFD700' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'%3E%3C/polygon%3E%3C/svg%3E");
}

.reviews__stars .reviews__star:hover ~ .reviews__star {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ccc' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'%3E%3C/polygon%3E%3C/svg%3E");
}

/* Slick слайдер slick-prev slick-arrow*/

.slick-arrow {
    display: block;
    width: 12px;
    height: 22px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    background: center no-repeat url(../images/arrow_left.webp);
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);  
    font-size: 0;  
    color: transparent;
}

.slick-arrow:hover {
    opacity: 1;    
}
.slick-prev {
    left: 60px;
}
.slick-next {
    right: 60px;
    transform: translateY(-50%) rotate(180deg);    
}
.slick-slide:focus {
    outline: none;
}

/* text */ 

.text {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    p, ul {
        margin: 15px 0;
    }
}

.text__list {
    list-style: none;
}

.text__img {
    max-width: 500px;
    margin: 15px;
    float: right;
}

/* map */ 

.map__img {
    opacity: .5;
    height: 260px;
    width: 100%;
    object-fit: cover; /* Обрезка изображения, сохраняющая пропорции */
    object-position: center; /* Центрирование изображения */
    transition: opacity .3s ease;
}

.map__link {
    position: relative;
    background-color: #979797;
    transition: background-color .2s ease;
    &:hover {
        background-color: $k-vio;
    }
    &:hover .map__img{
        opacity: .7;
    }
    &:hover .map__title{
        padding: 10px 80px;
    } 
}

.map__title {
    font-family: Montserrat,sans-serif;
    padding: 10px 30px;
    font-weight: 300;
    font-size: 22px;
    min-width: 250px;
    text-align: center;
    color: $text-color;
    text-transform: uppercase;
    background-color: $k-beige;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: padding .2s ease;
    box-shadow: 0 0 5px rgba(49,49,49,.44);
    &::before {
        content: "";
        display: inline-block;
        mask-image: url('../images/map-marker.svg');
        mask-repeat: no-repeat;
        mask-size: contain;
        width: 40px;
        height: 40px;
        background-color: $k-beige; /* Здесь мы задаем цвет в HEX формате */
        transition: background-color .3s ease;
        position: absolute;
        top: -55px;
        left: 50%;
        transform: translate(-50%, 0);  
        filter: drop-shadow(0 0 5px rgba(49, 49, 49, .44));        
    }
    &::after {
        content: "";
        display: block;
        width: 120px;
        height: 4px;
        background-color: $k-beige;;
        transition: background-color .3s ease;
        margin: 5px auto 0;
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translate(-50%, 0);  
        box-shadow: 0 0 5px rgba(49,49,49,.44);              
    }
}

.map__text {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    margin-top: 30px;    
}

/* mat page */ 

.mat {
    display: flex;    

}

/* mat page end */ 

/* footer */ 

.footer {
    background-color: $k-gray;
    font-family: Raleway, sans-serif;
    font-size: 18px;    
    
}

.footer__inner {
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;
    

}

.footer__menu,
.footer__numbers,
.footer__socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    a {
        color: #030303;
        text-decoration: none;
        transition: text-decoration .3s ease;
        text-decoration: underline transparent;
        padding: 5px 0;
        
        &:hover {
            text-decoration: underline;
        }

    }
}
.footer__numbers {
    font-family: JosefinSans,sans-serif;
    & a::before {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        height: 28px;
    }
    & a:nth-child(1)::before {
        content: url(".././images/phone.svg");
    }
    & a:nth-child(2)::before {
        content: url(".././images/telegram.svg");
    }    
    & a:nth-child(3)::before {
        content: url(".././images/viber.svg");
    }    
}
.footer__socials {
    & a::before {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        height: 28px;
    }
    & a:nth-child(1)::before {
        content: url(".././images/fb.svg");
    }
    & a:nth-child(2)::before {
        content: url(".././images/inst.svg");
    }    
    & a:nth-child(3)::before {
        content: url(".././images/tt.svg");
    }    
    & a:nth-child(4)::before {
        content: url(".././images/yt.svg");
    }    
}

.footer__copy {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    color: #424242;
}

@import './components/media.scss';