$primary-color: #0078bd;
$secondary-color: #2ecc71;
$red-color: #df5a5a;
$text-color: #030303;
$menu-color: #1be38d;
$white-color: #f3f3f3;


$blue-color: #0078bd;
$dark-red-color: #993438;
$orange-color: #D98414;
$yellow-color: #D9AD14;
$green-color: #14D9A1;
$acid-color: #5DD914;
$violet-color: #384084;

/* Колина схема)*/ 

$k-beige: #fff8f3;
$k-gray: #b3aeaa;
$k-vio: #e5d9f5;
$k-text-light: #424242;
$k-green: #f7fff3;



/* Градиент */ 
$rgba-green: rgba(221, 255, 204, 0.67);
$rgba-vio: rgba(229,217,245,.67);

