@media (max-width: 1400px) { 
    .slick-next {
        right: 30px;
    }

    .slick-prev {
        left: 30px;
    }     
}
@media (max-width: 1300px) { 
    .reviews__item {
        max-width: 1100px;
    }    
    
    .slick-next {
        right: 15px;
    }

    .slick-prev {
        left: 15px;
    }     
}
@media (max-width: 1200px) {
    .slide__title {
        font-size: 100px;
    }

    .section__title {
        font-size: 32px;
    }

    .reviews__item {
        width: 90%;
        max-width: 1100px;
    }

    .reviews__text {
        font-size: 18px;
    }

    .text {
        padding: 0 15px;
    }

    .slick-next {
        right: 15px;
    }

    .slick-prev {
        left: 15px;
    }    
}

@media (max-width: 980px) {
    .slide__title {
        font-size: 60px;
      }    

    .section__title {
        font-size: 28px;
    }

    .category__title {
        font-size: 16px; 
    }

    .breadcrumb {
        font-size: 14px;
    }
    
    .reviews__text {
        font-size: 16px;
    }    
}

@media (max-width: 880px) {
    .header__nav {
        display: none;
    }

    .burger {
        display: block;
    }

    .header__background {
        height: 66px;
    }

    .header__menu {
        background-color: $k-beige;
    }

    .header__inner {
        padding-top: 3px;
    }

    .header__logo {
        width: 125px;
        height: 60px;
        font-size: 41px;
        &::before,
        &::after {
            width: 108px;
            height: 16px;
        }
        &::before {
            top: 8px;
            left: 8px;
        }
        &::after {
            bottom: 8px;
            left: 8px;
        }
        &:hover::before,
        &:hover::after {
            height: 42px;
        }        
    } 

    .reviews__img {
        height: 200px;
    }
    .reviews__content {
        height: 200px;
    }
    .reviews__title {
        font-size: 14px;
    }
    .reviews__text {
        font-size: 15px;
    }
    .reviews__autor {
        font-size: 16px;
        &::before {
            width: 15px;
        }
    }
    .text {
        font-size: 15px;
    }
    .text__img {
        max-width: 340px;
    }
    .footer {
        font-size: 16px;
    }
    .mat__article, .mat__leftside {
        flex: 0 0 50%;
        min-width: 0;
    }
    .section.catpage {
        padding-top: 65px;
    }
}

@media (max-width: 680px) {
    .slide__button {
        font-size: 16px;
        padding: 16px 0;
        width: 200px;
    }
    .reviews__item {
        flex-direction: column;
        width: 379px;        
    }

    .reviews__autor::before {
        width: 30px;
    }

    .reviews__img {
        height: 260px;
    }

    .slick-next {
        right: 8%;
    }

    .slick-prev {
        left: 8%;
    } 
    .text {
        font-size: 14px;
    }      
    .map__text {
        font-size: 15px;
        padding: 0 5px;
    }  
    .map__title {
        font-size: 16px;
    }  
    .category__card {
        width: 49%;
    }
    .category__title {
        font-size: 14px;
    }
    .section__title {
        font-size: 24px;
        &::before,
        &::after {
            height: 2px;
        }
    }
    .nav-text {
        font-size: 14px;
    }
    .footer__inner {
        align-items: start;
    }    
    .text__list {
        clear: both;
    }  
    .mat {
        flex-direction: column;
    }
    .mat__gallery, .mat__article {
        flex: 0 0 50%;
        width: 100%;
      }
    .review {
        padding: 0 15px 15px;
    }
}

@media (max-width: 520px) {
    .category {
        row-gap: 10px;
    }
    .slick-next {
        right: 3%;
    }

    .slick-prev {
        left: 3%;
    } 
    .slide__title {
        font-size: 50px;
    } 
    body {
        line-height: 1.5;
    }
    .mat__article {
        padding: 0 5px;
    }  
    .review {
        padding: 0 5px 15px;
    }  
}

@media (max-width: 460px) {
    .slide__title {
        font-size: 35px;
    }    
    .slider-container, .slide__inner, .slide {
        height: 93vh;
        min-height: 540px;
    }
    .custom-nav {
        top: 87vh;
        gap: 2%;
    }
    .nav-text {
        font-size: 10px;
        margin-left: 2px;
    }
    .nav-item {
        background: none;
        text-align: center;
    }
    .category {
        row-gap: 9px;
    }    
    .category__title {
        font-size: 13px;
        width: 88%;
        padding: 8px 0;
    }
    .reviews__title {
        width: 90%;
    }
    .slick-next {
        right: 5%;
    }

    .slick-prev {
        left: 5%;
    }     
    .reviews__img {
        height: 207px;
    }    
    .reviews__item {
        width: 300px;
    }
    .footer {
        font-size: 14px;
    }
    .container {
        padding: 0 5px;
    }
    .reviews__autor::before {
        display: none;
    }  
    .slide__button {
        left: 50%;
        transform: translateX(-50%);
        &::before, &::after {
            display: none;
        }
    }
    .mat__leftside {
        padding: 0 5px;
    }
}

@media (max-width: 360px) {
    .category {
        row-gap: 7px;
    }      
    .slick-next {
        right: 2%;
    }

    .slick-prev {
        left: 2%;
    }  
    .footer__inner {
        justify-content: space-between;
    }
}