.slider-container {
    height: 100vh;
    box-shadow: 0 0 5px rgba(49, 49, 49, 0.44);
}
.slide {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
}

.slide__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.slide__title {
    display: inline-block;
    font-family: Mulish, sans-serif;
    color: $k-beige;
    font-weight: regular;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 1.3;
    text-shadow: 1px 1px 2px #3e3e3e;
}

.cupboard {
    background-image: url(../images/shafy-kupe-slider-large2.webp);
}

.kitchen {
    background-image: url(../images/kuhni-slider-large.webp);
}

.bedroom {
    background-image: url(../images/spalni-slider-large.webp);
}

.pered {
    background-image: url(../images/peredpokoyi-slider-large2.webp);    
}
.custom-nav {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    top: 94vh;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    gap: 3%;
    
}
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    cursor: pointer;
    background-color: $k-beige;
    opacity: .7;
    box-shadow: 0 0 5px rgba(49,49,49, .44);
    transition: opacity .2s ease;
    &:hover {
        opacity: 1;
    }
}

.nav-item.active {
    opacity: 1;
}

.progress-bar {
    width: 100%;
    height: 3px;
    background-color: $k-vio;
    margin-bottom: 5px;
}
.progress {
    width: 0;
    height: 100%;
    background-color: $k-text-light;
}
.nav-text {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: $text-color;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}

#photo-reviews-slider {
    padding: 10px 0;
    overflow: hidden;
}

#photo-reviews-slider div {
    overflow: visible;
}

