.slider-container {
    height: 100vh;
}
.slide {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
}

.slide__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.slide__title {
    display: inline-block;
    font-family: Mulish, sans-serif;
    color: $k-beige;
    font-weight: regular;
    text-align: center;
    font-size: 128px;
    text-transform: uppercase;
    line-height: 1.3;
    text-shadow: 1px 1px 8px #3e3e3e;
}

.cupboard {
    background-image: url(../../images/iintro1.webp);
}

.kitchen {
    background-image: url(../../images/top-slider2.webp);
}

.bedroom {
    background-image: url(../../images/top-slider3.webp);
}

.pered {
    background-image: url(../../images/top-slider4.webp);    
}
.custom-nav {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: $k-beige;
    opacity: .7;
    box-shadow: 0 0 5px rgba(49,49,49, .44);
    transition: opacity .2s ease;
    &:hover {
        opacity: 1;
    }
}

.nav-item.active {
    opacity: 1;
}

.progress-bar {
    width: 260px;
    height: 3px;
    background-color: $k-vio;
    margin-bottom: 5px;
}
.progress {
    width: 0;
    height: 100%;
    background-color: $k-text-light;
}
.nav-text {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: $text-color;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}