<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__menu">
                <a href="/">Головна</a>
                <a href="/">Наші роботи</a>
                <a href="/">Контакти</a>
                <a href="/">Блог</a>
            </div>
            <div class="footer__numbers">
                <a href="/">09312345678</a>
                <a href="/">09312345678</a>
                <a href="/">09312345678</a>
            </div>
            <div class="footer__socials">
                <a href="/">Facebook</a>
                <a href="/">Instagram</a>
                <a href="/">TikTok</a>
                <a href="/">YouTube</a>
            </div>
        </div>
        <div class="footer__copy">All copyright reserved by © <b>bark.kyiv.ua </b></div>
    </div>
</footer>