<header class="header">
    <div class="header__background">
        <div class="container">
            <div class="header__inner">
                <a href="/" class="header__logo"></a>
                <div class="header__nav">
                    <div class="header__numbers">
                        <a href="tel:+3809312345678">09312345678</a>
                        <a href="tel:+3809312345678">09312345678</a>
                        <a href="tel:+3809312345678">09312345678</a>
                    </div>
                    <nav class="header__menu">
                        <a href="/">Наші роботи</a>
                        <a href="/">Матеріали</a>
                        <a href="/">Відгуки</a>
                        <a href="/">Блог</a>
                        <a href="/">Контакти</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>