<div class="slider-container">
    <div class="slide cupboard">
        <div class="container">
            <div class="slide__inner">
                <h1 class="slide__title">Шафи-купе на замовлення</h1>                
            </div>
        </div>
    </div>
    <div class="slide kitchen">
        <div class="container">
            <div class="slide__inner">
                <h1 class="slide__title">Кухні на замовлення</h1>                
            </div>
        </div>
    </div>
    <div class="slide bedroom">
        <div class="container">
            <div class="slide__inner">
                <h1 class="slide__title">Меблі у спальні на замовлення</h1>                
            </div>            
        </div>
    </div>
    <div class="slide pered">
        <div class="container">
            <div class="slide__inner">
                <h1 class="slide__title">Меблі у передпокої на замовлення</h1>
            </div>            
        </div>
    </div>
</div>
<div class="custom-nav"></div>