<div class="slider-container" id="topslider">
    <div class="slide cupboard">
        <div class="container">
            <div class="slide__inner">
                <h1 class="slide__title">Шафи-купе <br> на замовлення</h1>
                <a href="/" class="slide__button">Замовити</a>                
            </div>
        </div>
    </div>
    <div class="slide kitchen">
        <div class="container">
            <div class="slide__inner">
                <h1 class="slide__title">Меблі у кухні <br> на замовлення</h1>
                <a href="/" class="slide__button">Замовити</a>                
            </div>
        </div>
    </div>
    <div class="slide bedroom">
        <div class="container">
            <div class="slide__inner">
                <h1 class="slide__title">Меблі у спальні <br> на замовлення</h1>
                <a href="/" class="slide__button">Замовити</a>                
            </div>            
        </div>
    </div>
    <div class="slide pered">
        <div class="container">
            <div class="slide__inner">
                <h1 class="slide__title">Меблі у передпокої <br> на замовлення</h1>
                <a href="/" class="slide__button">Замовити</a>
            </div>            
        </div>
    </div>
</div>
<div class="custom-nav"></div>