<div class="slider-container" id="topslider">
    <div class="slide">
        <picture>
            <source media="(max-width: 460px)" srcset="../images/shafy-kupe-slider-mini.webp">
            <img src="../images/shafy-kupe-slider-large.webp" class="slide__img" alt="Описание изображения">
        </picture>  
        <div class="slide__text">
            <div class="container">
                <div class="slide__inner">
                    <h1 class="slide__title">Шафи-купе <br> на замовлення</h1>
                    <a href="/" class="slide__button">Замовити</a>                
                </div>
            </div>
        </div>      
    </div>
    <div class="slide">
        <picture>
            <source media="(max-width: 460px)" srcset="../images/kuhni-slider-mini.webp">
            <img src="../images/kuhni-slider-large.webp" class="slide__img" alt="Описание изображения">
        </picture>
        <div class="slide__text">
            <div class="container">
                <div class="slide__inner">
                    <h1 class="slide__title">Меблі у кухні <br> на замовлення</h1>
                    <a href="/" class="slide__button">Замовити</a>                
                </div>
            </div>
        </div>
    </div>
    <div class="slide">
        <picture>
            <source media="(max-width: 460px)" srcset="../images/spalni-slider-mini.webp">
            <img src="../images/spalni-slider-large.webp" class="slide__img" alt="Описание изображения">
        </picture> 
        <div class="slide__text">
            <div class="container">
                <div class="slide__inner">
                    <h1 class="slide__title">Меблі у спальні <br> на замовлення</h1>
                    <a href="/" class="slide__button">Замовити</a>                
                </div>            
            </div>
        </div>       
    </div>
    <div class="slide">
        <picture>
            <source media="(max-width: 460px)" srcset="../images/peredpokoyi-slider-mini2.webp">
            <img src="../images/peredpokoyi-slider-large2.webp" class="slide__img" alt="Описание изображения">
        </picture>
        <div class="slide__text">
            <div class="container">
                <div class="slide__inner">
                    <h1 class="slide__title">Меблі у передпокої <br> на замовлення</h1>
                    <a href="/" class="slide__button">Замовити</a>
                </div>            
            </div>
        </div>
    </div>
</div>
<div class="custom-nav"></div>