@font-face {
    font-family: 'JosefinSans';
    src: url('.././fonts/JosefinSans-Regular.woff2');
}


@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('.././fonts/Montserrat-Regular.woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url('.././fonts/Montserrat-Light.woff2');
}

@font-face {
    font-family: 'Raleway';
    src: url('.././fonts/Raleway-Regular.woff2');
}

@font-face {
    font-family: 'Mulish';
    font-weight: 300;
    src: url('.././fonts/Mulish-Light.woff2');
}

@font-face {
    font-family: 'Mulish';
    font-weight: 400;
    src: url('.././fonts/Mulish-Regular.woff2');
}
 
@font-face {
    font-family: 'Mulish';
    font-weight: 700;
    src: url('.././fonts/Mulish-Bold.woff2');
}

@font-face {
    font-family: 'LuxuriousScript';
    font-weight: 400;
    src: url('.././fonts/LuxuriousScript-Regular.woff2');
}
